<div class="chart-settings">
  <div>
    <button (click)="zoomIn()">Zoom in</button>
    <button (click)="zoomOut()">Zoom out</button>
    <button (click)="resetZoom()">Reset zoom</button>
  </div>
  <div>
    <label><input type="checkbox" [(ngModel)]="settings.showXAxis" (change)="showXAxisChange()">Show X axis</label>
    <label><input type="checkbox" [(ngModel)]="settings.showYAxis" (change)="showYAxisChange()">Show Y axis</label>
    <label><input type="checkbox" [(ngModel)]="settings.showTitle" (change)="showTitleChange()">Show title</label>
  </div>
  <div>
    <label>Grid line type: </label>
    <input type="radio" value="solid" name="gender" [ngModel]="settings.gridLineType" (change)="chnageLineType()"> Solid
    <input type="radio" value="dashed" name="gender" [ngModel]="settings.gridLineType" (change)="chnageLineType()"> Dashed
  </div>
</div>
<div #chartWrapper></div>
