<button (click)="zoomIn()">Zoom in</button>
<button (click)="zoomOut()">Zoom out</button>
<button (click)="resetZoom()">Reset zoom</button>
<label><input type="checkbox" [(ngModel)]="settings.showXAxis" (change)="showXAxisChange()">Show X axis</label>
<label><input type="checkbox" [(ngModel)]="settings.showYAxis" (change)="showYAxisChange()">Show Y axis</label>
<label><input type="checkbox" [(ngModel)]="settings.showTitle" (change)="showTitleChange()">Show title</label>
<div #chartWrapper></div>
