<div class="chart-settings">
  <div>
    <button (click)="zoomIn()">Zoom in</button>
    <button (click)="zoomOut()">Zoom out</button>
    <button (click)="resetZoom()">Reset zoom</button>
  </div>
  <div>
    <label><input type="checkbox" [(ngModel)]="settings.showXAxisGrid" (change)="showXAxisGridChange()">Show X axis grid</label>
    <label><input type="checkbox" [(ngModel)]="settings.showYAxisGrid" (change)="showYAxisGridChange()">Show Y axis grid</label>
    <label><input type="checkbox" [(ngModel)]="settings.showTitle" (change)="showTitleChange()">Show title</label>
    <label><input type="checkbox" [(ngModel)]="settings.showMedianLines" (change)="showMedianChange()">Show medians</label>
  </div>
  <div>
    <label>Grid line type: </label>
    <input type="radio" value="solid" name="gender" [ngModel]="settings.gridLineType" (change)="chnageLineType()"> Solid
    <input type="radio" value="dashed" name="gender" [ngModel]="settings.gridLineType" (change)="chnageLineType()"> Dashed
  </div>
</div>
<div #chartWrapper></div>
